<div data-controller="answer-list" data-answer-list-target="remove">
    <input type="radio" name="radio" >
    <input class="inputValue" type="text" name="single" placeholder="請輸入選項">
    <input type="button" value="刪除選項" data-action="click->answer-list#remove_answer">
    <input type="button" value="輸出" data-action="click->answer-list#answer_look">

    
</div>


<%# form_with data: { controller: 'hello' } do |f| %>
  <%# radio_button_tag :single_choice, "" %>
  <%# label_tag :single_choice, "" %>
<%# end %>

